body {
  background-color: #f3f3f3;
}

h1,h2,h3,h4,h5,label,input,button,select,option,p,textarea {
  color: #444;
}

.text-center {
  text-align: center;
}

input[type=text] {
  border-inline: none;
  border: 1px solid #6577c9;
  border-radius: 3px;
  padding: 3px 5px;
}

input[type=text]:focus {
  border-color: #f8c82a;
}

.input-group input[type=text] ~ button {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group input[type=text] ~ button ~ button {
  margin-left: -3px;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group input[type=text] {
  margin-right: -1px;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.row-group {
  display: flex;
  flex-direction: row;
}

/* Layout */

.content {
  margin: 1rem auto;
  min-width: 80%;
  max-width: 90%;
}

.header img.logo {
  margin-right: 1rem;
}

.panel {
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid white;
  background-color: white;
  margin: 1rem auto 0;
  width: 90%;
}

.custom-button {
  cursor: pointer;
  display: inline-block;
  transition: all .5s;
  border-radius: 3px;
  text-decoration: none;
  background-color: white;
  box-shadow: none;
  border: 1px solid #18a689;
  color: #18a689;
}

select {
  background-color: white;
  color: #18a689;
}

.custom-button:hover, .custom-button:focus {
  background-color: #18a689;
  border-color: #18a689;
  color: white;
}

table {
  border-collapse: collapse;
}

table, th, td{
  border: 1px solid black;
}

th, td{
  text-align: center;
  vertical-align: center;
}

th {
  background-color: #18a689;
  color: white;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td img {
  display: block;
  margin: auto;
  max-height: 100px;
  width: auto;
}

.image-icon {
  max-height: 200px;
  width: auto;
}
/* Input fields */

.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group .input-group {
  width: 90%;
  display: flex;
}

.input-group input[type=text] {
  flex-grow: 10;
}

/* Fields */

.fields, .labels {
  padding-top: 1rem;
}

.fields:first-child, .labels:first-child {
  border-top: none;
}

.field, .label {
  padding: 0.5rem;
  border-top: 1px solid #ccdae3;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}


.field-left, .label-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

.field-left label, .field-left select, .field-element input, .label-left label {
  width: 33%;
}

.columns {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.columns h5 {
  width: 33%;
  text-align: left;
}

.field-edit, .label-edit {
  width: 100%;
}

/* Toast */

.toast {
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
}

.toast.error {
  background-color: #dc143ce0;
  color: #222222;
}

.icon-button
{
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.icon-button:hover {
  background-color: RoyalBlue;
}